* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-width: 980px;
  position: relative;
}

ol {
  align-items: center;
  display: flex;
}

li {
  display: inline-block;
  margin-right: 18px;
}

li > a {
  opacity: 0.75;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

form {
  margin: 0 auto;
  max-width: 570px;
  min-width: 500px;
}

.container {
  height: auto;
  min-height: 100%;
  position: relative;
}

.search-bar {
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  display: flex;
  font-size: 16px;
  height: 42px;
  justify-content: space-between;
  outline: none;
  padding: 0 12px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 100%;
}

.search-bar:hover, .search-bar:focus {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08)
}

.search-bar input {
  border: none;
  font-size: 16px;
  outline: none;
  width: 92%;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 35px;
  width: 100%;
}

.buttons button {
  background: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 0;
  color: #757575;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0 4px;
}

.buttons button:hover {
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #000;
}

.icon {
  background-image: url("../images/icons.png");
  background-size: 528px 68px;
  display: inline-block;
  opacity: 0.55;
}

.apps {
  background-position: -132px -38px;
  height: 30px;
  width: 30px;
}

.notifications {
  background-color: rgb(0, 0, 0);
  background-position: -194px -21px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.account {
  background-image: url("https://lh3.googleusercontent.com/-VvgPJ_JIAgg/AAAAAAAAAAI/AAAAAAAAAAA/AFiYof2zWPIlHiGt5HlorU7Skn-YpKvL3A/s32-c-mo/photo.jpg");
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  opacity: 1;
  width: 32px;
}

.main {
  padding-bottom: 60px;
}

.header {
  padding-left: 25px;
  padding-right: 12px;
}

.header > div, .footer > div {
  display: inline-block;
}

.header ol {
  height: 60px;
}

.logo {
  margin-bottom: 25px;
  padding-top: 138px;
}

.logo img {
  display: block;
  height: 92px;
  margin: 0 auto;
  width: 272px;
}

.voice {
  background: url("../images/voice.png");
  background-size: 24px 24px;
  display: inline-block;
  height: 24px;
  position: relative;
  width: 24px;
}

.voice:hover {
  cursor: pointer;
}

.voice .tooltip {
  background: #000;
  border: 2px solid white;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  left: -175%;
  padding: 5px 4px;
  position: absolute;
  text-align: center;
  top: 175%;
  visibility: hidden;
  width: 110px;
  z-index: 1;
}

.voice .tooltip::after {
  border-color: transparent transparent #000 transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  bottom: 100%;
}

.voice:hover .tooltip {
  visibility: visible;
}

.footer ol {
  height: 40px;
}

.footer ol li {
  margin-right: 27px;
}

.right-nav {
  float: right;
}

.footer {
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  min-width: 980px;
  padding-left: 30px;
  position: absolute;
  width: 100%;
}
